<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusMobileApp"
        tools:targetApi="31">
        <activity
            android:name=".Incharge.InchargeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Incharge.InchargeStudentsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Incharge.InchargeMapsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".DriverMapsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBHyGeFvbkps30A6RKLPaJX7YdKmHTA80I" />

        <activity
            android:name=".InchargeMainActivity"
            android:exported="false" />
        <activity
            android:name=".Student.BusPassActivity"
            android:exported="false" />
        <activity
            android:name=".Student.StudentMapsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Student.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DriverLoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".InchargeLoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentLoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentRegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentMainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".Maps.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Maps.YourLocationService"
            android:exported="false"
            android:foregroundServiceType="location"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>